<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class = 'containter'>
        <header>
            <h1>Scientific and Clinical Researches Centre </h1>
        <nav>
            <ul class = 'navbar' id = 'nav'>
                <li> <a href='#'>Home</a></li>
                <li> <a href='#'>About</a></li>
                <li> <a href='#'>Services</a></li>
                <li> <a href='#'>Contact</a></li>
            </ul>
        </nav>
        </header>
        <section>
            <h2>Health services for everyone</h2>
        </section>
    </div>
    <footer>
        <div class="footer-container">
            <div class="container">
                <p class="adress">Avchala, Tbilisi, 1703<br>Georgia</p>
                <ul class="footer-links">
                    <li>
                        <a href="#">Terms of Service</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

